


  .heading p {
  color: #213a85;
  font-size: 17px;
  font-weight: bold;
  }
  .heading i {
  color: red;
  } /* Resetting default margin and padding */
  /* pure nav css here */
  body,
  ul {
  margin: 0;
  padding: 0;
  }
  
  nav {
  background-color: #02427a;
  }
  
  .menu {
  list-style: none;
  display: flex;
  }
  
  .menu li {
  position: relative;
  }
  
  .menu li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  font-size: 0.9rem;
  }
  
  .menu li:hover {
  background-color: #d01b08;
  border-radius: 2px;
  }
  
  .sub-menu {
  display: none;
  position: absolute;
  background-color: #d01b08;
  border-radius: 2px;
  min-width: 250px;
  z-index: 1;
  }
  
  .menu li:hover .sub-menu {
  display: block;
  }
  
  .sub-menu li a {
  color: #fff;
  padding: 8px 16px;
  display: block;
  text-decoration: none;
  }
  
  .sub-menu li:hover {
  background-color: #b61503;
  }
  
  .menu li {
  list-style: none;
  }
  
  .mainbtn:hover {
  background-color: red;
  border-color: red;
  color: white;
  font-weight: bold;
  }
  .mainbtn {
  border:2px solid white;
  width: 23%;
  font-weight: bold;
  color: white;
  text-align: center;
  
  }
  .mainbtn a{
  text-decoration: none;
  color: white;
  }
  
  /* crousel style is below */
  
  .carousel {
  width: 100%;
  /* max-width: 600px; Adjust width as needed */
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  }
  
  .slide {
  display: none;
  /* width: 100%; */
  /* height: auto; */
  }
  
  .active {
  display: block;
  }
  
  /* sliderportion part is below */
  .slideportion p {
  font-size: 15px;
  }
  
  .slideportion h1 {
  font-size: 2.5rem;
  font-weight: bolder;
  color: #105fa4;
  }
  .slideportion h1 span {
  color: red;
  }
  
  .mainbtn1 {
  /* background-color: red; */
  border: 2px solid red;
  color: red;
  /* font-weight: bold; */
  }
  .bt a{
  text-decoration: none;
  }
  .mainbtn1:hover {
  background-color: red;
  border-color: red;
  color: white;
  /* font-weight: bold;  */
  }
  
  /* medical services css */
  .box h4 {
  color: white;
  }
  .box {
  width: 23%;
  /* margin: 5px; */
  margin: auto;
  background-color: #ffa517;
  }
  .box:hover {
  background-color: black;
  cursor: pointer;
  }
  .box1 {
  width: 23%;
  /* margin: 5px; */
  color: white;
  margin: auto;
  background-color: #41b5ff;
  }
  .box1:hover {
  background-color: black;
  cursor: pointer;
  color: white;
  }
  .box2 {
  width: 23%;
  /* margin: 5px; */
  margin: auto;
  color: white;
  background-color: #8f60fd;
  }
  .box2:hover {
  background-color: black;
  cursor: pointer;
  color: white;
  }
  .box3 {
  width: 23%;
  /* margin: 5px; */
  margin: auto;
  color: white;
  background-color: #01b35d;
  }
  .box3:hover {
  background-color: black;
  cursor: pointer;
  color: white;
  }
  .box4 {
  width: 23%;
  margin-left: 10px;
  /* margin: auto; */
  color: white;
  background-color: #ffa517;
  }
  .box4:hover {
  background-color: black;
  cursor: pointer;
  color: white;
  }
  .box5 {
  width: 23%;
  margin-left: 25px;
  /* margin: auto; */
  color: white;
  background-color: #53aedb;
  }
  .box5:hover {
  background-color: black;
  cursor: pointer;
  color: white;
  }
  .box6 {
  width: 23%;
  margin-left: 25px;
  color: white;
  /* margin: auto; */
  background-color: #8f60fd;
  }
  .box6:hover {
  background-color: black;
  cursor: pointer;
  color: white;
  }
  
  /* doctor team css */
  
  .doctorcard {
  /* margin: 10px; */
  width: 24%;
  border-radius: 5px;
  margin: auto;
  box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.3);
  }
  .doctorcard a{
  text-decoration: none;
  color:#105FA4 ;
  }
  .doctorcard .info{
  background-color: #105FA4;
  color: white;
  }
  .doctorcard button{
  border: 1px solid #105FA4;
  }
  .doctorcard button:hover{
  background-color: #105FA4;
  
  }
  .doctorcard button a:hover{
  color: white;
  }
  
  /* WHAT PATIENTS SAY */
  .slideshow-container {
  position: relative;
  background: #f1f1f1f1;
  }
  
  /* Slides */
  .mySlides {
  display: none;
  padding: 19.5%;
  text-align: center;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  }
  
  /* The dot/bullet/indicator container */
  .dot-container {
  text-align: center;
  padding: 20px;
  background: #ddd;
  }
  
  
  /* The dots/bullets/indicators */
  .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  }
  
  /* Add a background color to the active dot/circle */
  .active,
  .dot:hover {
  background-color: #717171;
  }
  
  /* Add an italic font style to all quotes */
  q {
  font-style: italic;
  }
  
  /* Add a blue color to the author */
  .author {
  color: cornflowerblue;
  }
  
  .patient_box img {
  width: 270px;
  height: 150px;
  margin: 15px;
  border-radius: 10px;
  }
  .PATIENTS {
  background-color: #105fa4;
  }
  
  /* Success stories */
  
  .succes_stories img {
  border-radius: 50%;
  border: 2px solid gray;
  padding: 10px;
  }
  
  .succes_stories h3 {
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  }
  
  /* health_tag */
  .health_menu {
  background-color: #02427a;
  }
  .health_menu .active {
  background-color: red;
  clip-path: polygon(0 0, 96% 0, 100% 50%, 96% 100%, 0 100%, 0% 50%);
  }
  .health_menu a {
  text-decoration: none;
  color: white;
  }
  .health_menu :hover {
  background-color: red;
  color: white;
  }
  .list_health i {
  color: red;
  border: 1px solid red;
  padding: 3px;
  border-radius: 50%;
  font-size: 10px;
  font-weight: bold;
  }
  
  .list_health span {
  color: #105fa4;
  
  
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  }
  .health_form1 .btn {
  background-color: #01b35d;
  color: white;
  }
  .health_form1 .btn a{
  text-decoration: none;
  color: white;
  }
  .health_form1 .btn:hover {
  background-color: #02427a;
  color: white;
  cursor: pointer;
  }
  .list_health p{
    padding: 5px;
  }
  
  
    /* footer css */
    .footer_link h3{
      color: white;
      }
      .footer_link a{
      text-decoration: none;
      color: white;
      font-size: 15px;
    
      
      }
      .footer_link p{
        padding: 5px;
      }
      .footer_icon i{
        padding: 5px;
      }
      .footer_icon p{
        font-size: 15px;
      }
      .scroll h3{
      color: white;
      }
      
      
      .div.scroll {
          margin: 4px, 4px;
          padding: 4px;
          background-color: green;
          width: 500px;
          height: 110px;
          overflow-x: hidden;
          overflow-y: auto;
          text-align: justify;
      }
      
      
  
  
   